@import url(http://fonts.googleapis.com/css?family=Rokkitt);
$item-width: 180px;

.photo-item{
  width: $item-width;
  padding: 0.5rem;

  figure{
    margin: 0;
    padding: 0;
    position: relative;

  }

  img{
    position: absolute;
    clip: rect(0px,$item-width,100px,0px);
    min-width: 100%;
    width: auto;
    min-height: 100px;
  }

  figcaption{
    padding: 100px 1rem 0;
    overflow: hidden;
    p{
      font-family: 'Rokkitt', serif;
      overflow: hidden;
      height: 72px;
      margin: 1rem 0;
      font-size: 0.8rem;
      line-height: 1.1;
    }
  }

}

map {
      height: 500px;
      width: 90%;
      margin: 0;
      padding: 0;
    }

