$item-width: 180px;

.photo-item{
  width: $item-width;
  padding: 0.5rem;

  figure{
    margin: 0;
    padding: 0;
    position: relative;

  }

  figcaption{
    padding: 100px 1rem 0;
    overflow: hidden;
    font-size: 0.8em;

    p{
      overflow: hidden;
      height: 72px;
      margin: 1rem 0;
    }
  }

}
  img{
    position: absolute;
    clip: rect(0px,$item-width,100px,0px);
    min-width: 100%;
    width: auto;
    min-height: 100px;
  }

