<div class="clearfix">
<div class="map-wrapper sm-col sm-col-6">
<map zoom="12" center="-33.867487, 151.206990"> 
  <marker ng-repeat ="marker in markers" title ="{{marker.title}}" position="{{marker.position}}" on-click="markerClick()" >
  </marker>
</map>
</div>
<div class="photo-wrapper sm-col sm-col-6">
<ul class="list-reset clearfix">
<li class="photo-item col col-6 sm-col-6 md-col-4" ng-repeat ="img in imgs | filter:{caption: selectedMarker}">
  <figure class='border' ng-click="photoClick()" >
  <div class='img-wrapper'>
    <img src="{{img.thumbnaillink}}" alt="img.caption">
  </div>
  <figcaption><p>{{img.caption}}</p></figcaption>
</figure>
</li>
</ul> <!-- img list -->
</div>
</div> 
<!-- end of clearfix-->

<div class= 'lightbox {{lClass}}'>
  <figure>
    <img src="assets/img/blank.svg" data-echo ="{{lightbox.img}}" alt="{{lightbox.caption}}">
    <figcaption>{{lightbox.caption}}</figcaption>
  </figure>
  <button class="close" ng-click="toggleClick()">X</button>
</div>

